/*

This CSS file will be included with your plugin, and
available in the app when your plugin is enabled.

If your plugin does not need CSS, delete this file.

*/
.kale-graph-canvas {
    padding: 0;
    margin: 0;
    border-radius: var(--input-radius);
}

*:has(> .kale-graph-canvas) {
    padding: 0;
    height: 350px;
}